.barra-superior{
  min-height: 2.5rem;
}
div[class*="columna"]{
  min-height: 50rem;
}
div[class*="bloque"]{
  height: 45rem;
  overflow: scroll;
}
.columna-chat, .columna-news{
  padding: 0 !important;
}
.contenedor-write-publicacion{
  min-width: 8rem;
}
.contenedor-publicacion{
  min-height: 4rem;
}
h5{
  font-family: sans-serif;
  font-size: 15px;
  font-style: oblique;
}
.logo{
  width:60px;
  height:60px;
  margin-top: 0.5rem;
  float: left;
}

.contenedor-noticias{
  margin-top: 1rem;
  min-height: 50rem;
  padding: 1.5rem;
}
.responsive-img{
  border: 0.6rem solid #ff8f00;
  border-radius: 8px;3px;
}

.buscar-campo{
  float: left;
  margin-left: 1rem;
  margin-top: 2.5rem;
  width: 70%;
}
.barra-superior .row{
  margin-bottom: 0;
}
.contenedor-botones{
  margin-top: 2rem;
}
#publicacion-texto{
  border-radius: 15px;
  border-top-right-radius: 15px;
  resize: none;
  border: 3px solid blue;
  background-color: yellow;
  height: 3rem;
  color:cyan;
}
@media (max-width: 600px) {
  .columna-grupos
  {
    padding: 0 !important;
  }
}
#input-buscar{align-right;}